body, html {
    background-color: #FFFFFF;
    color: #212121;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    grid-template-rows: repeat(auto-fill, minmax(1fr, auto));
    grid-template-columns: repeat(auto-fill, minmax(1fr, auto));
    height: 100vh;
}

.menu {
    float: none;
    padding: 1.5em;
    margin-bottom: 30px;
}

.sidebar {
    padding: 25px;
    float: none;
    grid-area: sidebar;
}

.footer {
    float: none;
    text-align: center;
    padding: 25px;
    margin-top: 30px;
    font-size: 14px;
}

.footer a {
    float: none;
    width: auto;
    margin: auto;
    color: black;
    text-align: center;
    padding: 5px;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*color: #FFFFFF;*/
}

.footer a:link, a:visited {
    font-weight: bold;
    text-decoration: none;
}

.footer a:hover {
    color: #FFFFFF;
    background-color: #212121;
}

.konten {
    float: none;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 50px;
    display: block;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*color: #FFFFFF;*/
}

.menu img {
    width: 30px;
    margin: auto;
}

@media only screen and (min-width: 769px) {

    .container {
        display: grid;
        grid-template-columns: 4fr auto 1fr 1fr;
        grid-row-gap: 8px;
    }

    .menu {
        grid-column: span 4;
    }

    .footer {
        grid-column: span 4;
    }

}
